extends layout

block content
  h1= title
  -let results=[{company:"Ford",price:1700,color:"black"},{company:"suzuki",price:1350,color:"red"},{company:"swift",price:1500,color:"white"}]
    
    div(class="container-fluid")
    div(class="row")
        each item,index in results
            div(class="col-sm-2" onclick=`buy(${index})`)
                p company:  #{item.company} 
                p price: #{item.price}
                p color: #{item.color}
    script.
      function buy(index)
      {
        alert(`You purchased item ${index+1}`)
      }